@font-face {
	font-family: 'Radiance';
	src: url('fonts/Radiance.ttf') format('truetype');
	font-style: normal;
}

body {
	font-family: 'Radiance';
	background: black;
}

.row {
	margin-right: 0px;
}

.content-container {
	margin-left: 20px;
	margin-right: 20px;
}

.grid {
	display: inline-block;
	margin: 4px;
	position: relative;
}

.grid img {
	width: 60px;
}

.ban-line {
	position: absolute;
	border-top: 3px solid #ff4c4c;
	transform: rotate(-28deg);
	left: -6px;
	right: -6px;
	top: 16px;
	z-index: 1;
}

.filtered {
	opacity: 0.2 !important;
}

.picked {
	opacity: 0.4;
}

.banned {
	-webkit-filter: grayscale(100%);
}

.selected {
	border-color: #00d2ff;
	box-shadow: 0 0 19px #00d2ff;
	outline: 2px solid;
	outline-color: #00d2ff;
}

#background {
	position: fixed;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

.button-choose-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.button-choose {
	font-size: 25px;
	border-radius: 2px;
	border: none;
	color: white;
	padding: 4px 30px;
	transition: 0.4s;
}

.pick {
	background: linear-gradient(to right, #47688A, #29374C);
}

.pick:hover {
	box-shadow: 0 0 19px #4493E4;
}

.ban {
	background: linear-gradient(to right, #90414e, #4f2629);
}

.ban:hover {
	box-shadow: 0 0 19px #d43e56;
}

.player {
	color: #22d722 !important;
	
	transition: 0.4s;
}

.player.turn {
	text-shadow: #18e418 0 0 12px;
}

.enemy {
	color: #f01b1b !important;
	transition: 0.4s;
}

.enemy.turn {
	text-shadow: red 0 0 12px;
}

.suggestion{
	width: 70px;
	margin: 7px;
	margin-left: 0px;
	margin-bottom: 0px;

}

h3.suggestion-text{
	font-size: 20px;
	color: white;
	margin-top: 0px;
	margin-bottom: 3px;
}


#topBar {
	min-height: 71px;
	margin-bottom: 20px;
}

.bar {
	opacity: 0.85;
	background-color: #2e2d45;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
}

#bottomBar {
	margin-top: 50px;
}

.pick-slot {
	display: inline-block;
	width: 94px;
	height: 55px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(67, 67, 96);
	border-radius: 5px;
	background-color: rgb(40, 40, 50);
	margin: 12px 3px;
	margin-bottom: 5px;
	position: relative;
}

.hero-picked {
	width: 94px;
	border-radius: 5px;
	display: inline-block;
}

.ban-slot {
	display: inline-block;
	width: 64px;
	height: 38px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(67, 67, 96);
	border-radius: 5px;
	background-color: rgb(40, 40, 50);
	margin: 2px;
	position: relative;
}

.selection {
	position: absolute;
	left: 0;
	width: 100%;
	border-radius: 5px;
}

.spacer {
	height: 44px;
}

.prediction {
	padding-left: 40px;
}

.turn-banner {
	color: white;
	font-size: 30px;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	transition: 0.6s;
}

.turn-banner.choosing {
	background: linear-gradient(to left, #55ad26, transparent);
	border-image: linear-gradient(to left, #8bd068, #8bd068 40%, transparent) 1;
}

.turn-banner.reporting {
	background: linear-gradient(to left, #ad2638, transparent);
	border-image: linear-gradient(to left, #d0686f, #d0686f 40%, transparent) 1;
}
.search-container {
	margin-bottom: 15px;
}

#search {
	border-radius: 5px;
	background-color: rgba(189, 186, 178, 0.7);
	width: 40%;
	color: white;
	font-size: 18px;
	border: none;
	padding: 9px 17px;
	text-align: left;
}

.model-container {
	/*display: block;*/
	/*position: absolute;*/
	right: 90px;
	top: 130px;
	float: right;
	margin-right: 50px;
	margin-top: 7px;
}

#model-select {
	background-color: rgba(189, 186, 178, 0.7);
	color: white;
	/*color: #757575;*/
	border: none;
	text-align: center;
	vertical-align: center;
	width: 160px;
	height: 30px;
	font-size: 18px;
	/*padding-top:30px;*/
}

div.bottom {
	background-color: #1b1b29;
	color: white;
	vertical-align: center;
	padding: 16px 50px;
/*	min-height: 30px;*/
}

ul.bottom {
	margin: 0px;
}

li.bottom {
	display: inline-block;
	padding: 0px 20px;
	margin: 0px;
}

nav.bottom {
	color: white;
	position: relative;
	top: 3px;
	margin: 0px;
	padding: 0px;
}
