img.grid {
	display: inline-block;
	width: 63;
	height: 36;
	-webkit-filter: sepia(0%);
}

img.grid.filtered {
	-webkit-filter: sepia(100%);
/*	opacity: 0.7;
	background-color: black;*/
}

img.grid.taken {
	-webkit-filter: sepia(50%);
/*	opacity: 0.9;
	background-color: black;*/
}