img.grid {
	display: inline-block;
	width: 63;
	height: 36;
	margin: 4px;
}

img.grid.filtered {
	opacity: 0.5;
	background-color: black;
}

img.grid.taken {
	-webkit-filter: grayscale(100%);
/*	opacity: 0.9;
	background-color: black;*/
}

img.grid.selected {
	outline: 2px solid;
}

.choosing {
	color: #00ff00;
	outline-color: green;
}

.reporting {
	color: #ff0000;
	outline-color: red;
}