{% load static %}
<html ng-app="draftnet">
<head>
	<title>Draftnet</title>
	<link rel="stylesheet" type="text/css" href="{% static 'draft/style.css' %}" />
	<script type="text/javascript" src="{% static 'draft/angular/angular.js' %}"></script>
	<script type="text/javascript" src="{% static 'draft/jquery-3.2.1.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'draft/angular/angular.min.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'draft/app.js' %}"></script>
</head>
<body ng-controller="DraftController as draftCtrl">
<span class="choosing" ng-if="draftCtrl.isChoosing()">Your turn to <b>[[draftCtrl.getNextActionTitle().toLowerCase()]]</b></span>
<span class="reporting" ng-if="!draftCtrl.isChoosing()">Enemy's turn to <b>[[draftCtrl.getNextActionTitle().toLowerCase()]]</b></span>
<div id="selector" ng-if="draftCtrl.isValidSelection()">
	<button ng-click="draftCtrl.choose()">[[ draftCtrl.getNextActionTitle() ]]</button>
</div><br />
<input type="text" ng-model="draftCtrl.searchFilter" />
<div id="heroGrid">
	<img class="grid" ng-repeat="hero in draftCtrl.list | orderBy:'localized_name'" src="{% static "draft/images/hero_icons/" %}[[ hero.name ]].png" ng-class="{'filtered' : draftCtrl.isFiltered(hero), 'selected' : draftCtrl.isSelected(hero), 'taken' : draftCtrl.isPicked(hero), 'choosing' : draftCtrl.isChoosing(), 'reporting' : !draftCtrl.isChoosing()}" ng-click="draftCtrl.selectHero(hero)">
</div>
<div id="prediction" ng-if="draftCtrl.prediction">
	<h2>Suggestions</h2>
	<span ng-repeat="hero in draftCtrl.prediction">
		<img class="suggestion" src="{% static "draft/images/hero_icons/" %}[[ hero.name ]].png" />
	</span>
</div>
</body>
</html>
