{% load static %}
<html ng-app="draftnet">
<head>
	<title>Draftnet &middot; Draft</title>

	<script type="text/javascript" src="{% static 'draft/angular/angular.js' %}"></script>
	<script type="text/javascript" src="{% static 'draft/jquery-3.2.1.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'draft/angular/angular.min.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'draft/app.js' %}"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'draft/style.css' %}" />

</head>
<body ng-controller="DraftController as draftCtrl">
<img src="{% static 'draft/images/titan_background.jpg' %}" id="background" />
<div id="topBar">
	<div class="content-container">
		<div id="prediction" ng-if="draftCtrl.prediction">
			<h3 class="suggestion-text">[[ draftCtrl.getSuggestionText() ]]</h3>
			<span >
				<img class="suggestion" ng-repeat="hero in draftCtrl.prediction" ng-class="{'selected' : draftCtrl.isSelected(hero)}" ng-click="draftCtrl.selectHero(hero)" src="{% static "draft/images/hero_icons/" %}[[ hero.name ]].png" />
			</span>
		</div>
		<div class="spacer" ng-if="!draftCtrl.prediction">
		</div>
	</div>
</div>
<div class="content-container">
<div class="text-center search-container"><input type="text" id="search" ng-model="draftCtrl.searchFilter" placeholder="Search heroes..." /></div>
<div id="heroGrid">
	<img class="grid" ng-repeat="hero in draftCtrl.list | orderBy:'localized_name'" src="{% static "draft/images/hero_icons/" %}[[ hero.name ]].png" ng-class="{'filtered' : draftCtrl.isFiltered(hero), 'selected' : draftCtrl.isSelected(hero), 'taken' : draftCtrl.isPicked(hero), 'choosing' : draftCtrl.isChoosing(), 'reporting' : !draftCtrl.isChoosing()}" ng-click="draftCtrl.selectHero(hero)">
</div>
<div class="button-choose-container text-center"><button ng-if="draftCtrl.isValidSelection()" ng-class="{'ban' : !draftCtrl.getNextAction().pick, 'pick' : draftCtrl.getNextAction().pick }" ng-click="draftCtrl.choose()" class="text-uppercase button-choose">[[ draftCtrl.getNextActionTitle() ]] [[ draftCtrl.selectedHero.localized_name ]]</button></div>
</div>
<!-- TODO should display draft status as well -->
</body>
</html>
